# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.env


app/task_agent copy.py
app/task_agent.txt

# Development
.vscode/
.idea/
*.swp
.DS_Store

# Project specific
rag_store_webpage/
rag_store/
old_backend/

# Logs
*.log

test_gemini.py